<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to access the internet (if needed for Firebase) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Betteryou"
        tools:targetApi="31">

        <!-- SplashActivity as the launcher activity -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.controller.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity - The main screen after Splash -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.MainActivity"
        android:exported="true" />

        <!-- HomeActivity -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.controller.HomeActivity"
            android:exported="false" />

        <!-- PushActivity -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.controller.PushActivity"
            android:exported="false" />

        <!-- PullActivity -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.controller.PullActivity"
            android:exported="false" />

        <!-- LegsActivity -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.controller.LegsActivity"
            android:exported="false" />

        <!-- VideoPlayerActivity -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.controller.VideoPlayerActivity"
            android:exported="false" />

        <!-- ExerciseDetailActivity -->
        <activity
            android:name="edu.utsa.cs3443.betteryou.controller.ExerciseDetailActivity"
            android:exported="false" />

        <!-- Metadata for preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
